/* configurações de estilo da página index */
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    min-width: 250px;
    background-color: #F0F0F7;
    color: #000000;
    font-family: Georgia;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}