/* 
Autor: Matheus Adler
Este arquivo contém as configurações de estilo da página extract-comments.html
*/
body {
    margin: 0;
    min-width: 250px;
    background-color: #F0F0F7;
    color: #000000;
    font-family: Georgia;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  #myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 0%;
    height: 30px;
    background-color: #51d4db;
  }