/* configurações de estilo da página restart-process */
body {
    margin: 0;
    min-width: 250px;
    background-color: #F0F0F7;
    color: #000000;
    font-family: Georgia;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card-header {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .card-body {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .divButton {
    display: flex;
    justify-content: center;
  }